
.sidebar .navLink {
    text-decoration: none;
}
.sidebar .navLink div {
    color: #212529;
    padding: 2.5vh 1vh 2.5vh;
    text-decoration: none;
}
    .sidebar .navLink div:hover {
        cursor: pointer;
        opacity: .7;
        background-color: #0a090e;
        transition: .1s
    }
.sideWrapper {
    position: relative;
    max-width: 200px;
    height: 100vh;
}

.sidebar {
    position: relative;
    width: auto;
    max-width: 60px;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    background-color: #212529;
    transition: 0.5s;
}
    .sidebar:hover {
        max-width: 600px;
        transition:  .5s;
    }
        .sidebar:hover .navLink div {
            color: aliceblue;
            transition: color 1.5s;
            transition: background-color .5s;
        }



