
.sidebar .navLink {
    text-decoration: none;
}
.sidebar .navLink div {
    color: #212529;
    padding: 25px 15px 25px;
    text-decoration: none;
}
    .sidebar .navLink div:hover {
        cursor: pointer;
        opacity: .7;
        background-color: #0a090e;
        transition: .1s
    }


.sidebar {
    position: sticky;
    top: 0;
    margin: 10px;
    float: left;
    width: auto;
    max-width: 60px;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    background-color: #212529;
    transition: 0.5s;
    display: inline-block;
}
    .sidebar:hover {
        max-width: 600px;
        transition: .5s;
    }
        .sidebar:hover .navLink div {
            color: aliceblue;
            transition: color 1.5s;
            transition: background-color .5s;
        }



